        * {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0px;
            padding: 0px;
            border-radius: 30px;
        }

        .container {
            border: 2px solid black;
            background-color:  #B2F1FF;
            margin: 35px auto;
            width: 940px;
        }

        header {
            border-radius: 100px;
            margin: 20px auto;
            width: 500px; 
            padding: 10px;
            background: #f08888;
        }

        nav{
            background-color: rgb(212, 65, 65);
        }

        #content{
            width: 700px;
            float: left;
        }

        .article{
            background-color: rgb(253, 253, 150);
            margin: 30px;
            padding: 20px;
        }

        .titulo{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }


        aside{
            margin-top: 30px;
            padding: 10px;
            float: left;
            width: 200px;
            background-color: rgb(190, 67, 67);
        }

        footer{
            color: white; 
            background:rgb(31, 214, 199);
            margin: 10px 10px;
            clear: both;
        }

        .ti{
            display: inline-block;
        }
        
        h1{
            font-size: 50px;
            font-weight:500;
        }

        h2{
            font-size: 40px;
            font-weight:500;
        }

        img{
            width: 170px;
            margin: 10px auto;
        }